<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>http://www.sysctl.co.uk/projects/macirssi/feed.xml</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MacIrssi</string>
	<key>CFBundleIconFile</key>
	<string>MacIrssi</string>
	<key>CFBundleIdentifier</key>
	<string>MacIrssi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.8.5.1</string>
	<key>NSGitRevision</key>
	<string>N/A</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>Matt Wright</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-7AE0CF3CEA</string>
</dict>
</plist>
